<div class="error-layout">
    <div class="error-layout__container">
        <div class="error-block">
            <div class="error-block__section"></div>
            <h1>{{code}}</h1>
        </div>
        <div class="error-block__section">
            <span>{{message}}</span>
        </div>
        <div class="error-block__section">
            {{> Link href="/chats" value='Назад к чатам' }}
        </div>
    </div>
</div>