<div class="avatar">
    {{#if src}}
    <img class="avatar__img" src="{{src}}" alt="{{alt}}" />
    {{else}}
    {{#if isEditable}}
    <div class="avatar__mask"><span class="text">Поменять аватар</span></div>
    {{/if}}
    <img class="avatar__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png" alt="empty" />
    {{/if}}
</div>