.chat {
  &-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    min-width: 370px;
    background: var(--gray-blue-10);
    border-right: 1px solid var(--gray-10);
    &__header {
      border-bottom: 1px solid var(--gray-10);
      padding: 13px 10px;
      .profile-link-wrapper {
        margin-bottom: 23px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .create-dialog-btn{
            font-size: 12px;
            padding: 8px;
        }
      }
    }
    &__body {
      overflow: auto;
    }
  }
}
