@mixin colors {
  --blue: #3369f3;
  --red: #ff2f2f;
  --black: #1e1e1e;
  --gray: #999999;
  --light-gray: #efefef;
  --gray-blue-20: #e4edfd;
  --white: #ffffff;
  --gray-blue-10: #fbfbfb;
  --gray-10: #eaeaea;

  --gray-20: #f2f2f2, --gray-blue-50: #c5ced3;
}
