@mixin colors {
  --blue: #3369f3;
  --red: #ff2f2f;
  --black: #1e1e1e;
  --gray: #999999;
  --light-gray: #efefef;
  --gray-blue-20: #E4EDFD;
  --white: #ffffff;
  --gray-blue-10: #FBFBFB;
  --graу-10: #EAEAEA;
  
  
}
