<div class="error-layout">
    <div class="error-layout__container">
        <div class="error-block">
            <div class="error-block__content">
                <h1 class="code text-action">{{code}}</h1>
                <span class="message">{{message}}</span>
            </div>
            <div class="error-block__footer">
                {{> Button variant='secondary' text='Назад к чатам' }}
            </div>
        </div>
    </div>
</div>