@import "./assets/styles/colors";
@import "./assets/styles/base";

@import "./widgets/form-auth/form-auth.scss";
@import "./entities/user/ui/user-profile-form/user-profile-form.scss";

@import "./layouts/auth-layout/auth-layout.scss";
@import "./layouts/error-layout/error-layout.scss";
@import "./layouts/profile-layout/profile-layout.scss";
:root {

  @include colors;
  @include text;
  @include font-weight;
  @include base;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}